h1 {
    padding-top: 150px;
}
.bg-image-red {
    background: 
    linear-gradient(rgb(96, 11, 11,.50), rgb(96, 11, 11,.50))
    ,url('/src/styles/images/chessBackdrop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    color: red;  
  }
.bg-image-blue {
    background: 
    linear-gradient(rgb(5, 5, 96,.50), rgba(5, 5, 196, 0.5))
    ,url('/src/styles/images/chessBackdrop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    color: #4479ec; 
}

.bg-image-purple {
    background: 
    linear-gradient(rgb(54, 30, 85,.50), rgba(54, 30, 85, 0.5))
    ,url('/src/styles/images/chessBackdrop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    color: rgb(106, 106, 252); 
}

.max-height {
    height: 20%;
}
.col {
    color:white;
}