.nav-link{
    text-decoration: none;
    color: #fff;
    transition: letter-spacing 0.2s ease;
}

.nav-link:hover{
    color: rgb(135, 152, 250);
    letter-spacing: 0.1em;
}

.navbar {
    background-color: rgb(54, 30, 85)
}

.navbutton {
    background-color: rgb(37, 37, 175);
    border-color: rgb(67, 67, 230);
}
.navbutton:hover {
    background-color: rgb(44, 44, 219);
    border-color: rgb(106, 106, 252);
    color: white;
}